<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <%= image_tag "#{@user.image_url}", class: "user-img" %>
          <%= tag.h4 @user.name %>
          <%= tag.p @user.bio %>

          <button class="btn btn-sm btn-outline-secondary action-btn">
            <i class="ion-plus-round"></i>
            &nbsp; <%= @user.name %>
          </button>

          <% if current_user == @user %>
            <%= link_to(edit_user_path(@user), class: "btn btn-sm btn-outline-secondary action-btn") do %>
              <i class="ion-gear-a"></i>
              &nbsp; Edit Profile Settings
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link active" href="">My Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Favorited Articles</a>
            </li>
          </ul>
        </div>

        <% @articles.each do |article| %>
          <div class="article-preview">
            <div class="article-meta">
              <%= link_to image_tag("#{article.user.image_url}"), "/"  %>
              <div class="info">
                <%= link_to "#{article.user.name}", user_path(article.user), class: 'date' %>
                <%= content_tag :span, "#{article.formatted_created_at}" %>
              </div>
              <button class="btn btn-outline-primary btn-sm pull-xs-right">
                <i class="ion-heart"></i> 29
              </button>
            </div>
            <%= link_to(article, class: 'preview-link') do %>
              <%= content_tag :h1, "#{article.title}"  %>
              <%= content_tag :p, "#{article.description}" %>
              <span>Read more...</span>
                <ul class="tag-list">
                  <% article.tags.each do |tag| %>
                    <%= content_tag :li, "#{tag.name}", class: 'tag-default tag-pill tag-outline' %>
                  <% end %>
                </ul>
            <% end %>
          </div>
        <% end %>

        <%= will_paginate @articles, class: 'pagination' %>

      </div>
    </div>
  </div>
</div>